@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap');

html {
  font-family: 'Fredoka', sans-serif;
}

body {
  display: grid;
  grid-template: 0.5fr 1fr 2fr 0.2fr / 0.2fr 1fr 0.5fr;
}

/* HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER */

.header {
  display: grid;
  grid-column: 1 / 4;
  grid-row: 1;
  height: minmax(0.5fr, 80px);
  background-color: #175676;
}

#banner-left {
  grid-column: 1;
}

.header-text {
  color: #CCE6F4;
  font-size: 58px;
  margin-left: 40px;
}

#banner-right {
  grid-column: 2;
}

.header-book-icon {
  display: flex;
  width: 100px;
  height: 100px;
  justify-self: center;
  align-self: center;
  filter: invert(95%) sepia(64%) saturate(5579%) hue-rotate(175deg) brightness(106%) contrast(91%);
}

/* SIDEBAR SIDEBAR SIDEBAR SIDEBAR SIDEBAR SIDEBAR SIDEBAR SIDEBAR SIDEBAR SIDEBAR SIDEBAR SIDEBAR */

.sidebar {
  display: flex;
  grid-row: 2 / 4;
  grid-column: 1;
  background-color: #4BA3C3;
  height: 100vh;
  grid-template: 0.10fr 1fr / 0.5fr;
  flex-flow: column wrap;
  justify-items: flex-start;
  align-items: center;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 15vw;
}

.create-new-book {
  grid-column: 1;
  grid-row: 1;
  width: 150px;
  height: 40px;
  margin: 15px;
  background-color: #CCE6F4;
  box-shadow: 1px 1px black;
  font-size: 16px;
}

.form-container {
  margin-top: 10px;
  display: none;
  grid-column: 1;
  grid-row: 2;
  font-size: 20px;
  color: #CCE6F4;
  font-weight: bold;
}

.input {
  background-color: #CCE6F4;
  height: 30px;
  margin: 5px;
}

.legend-text {
  color: #175676;
  font-weight: bold;
}

.label-title {
  color: #CCE6F4;
}

.submit-book-form {
  width: 120px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: #175676;
  color: #CCE6F4;
  font-size: 0.9rem;
}

/* LIBRARY PAGE  LIBRARY PAGE  LIBRARY PAGE  LIBRARY PAGE  LIBRARY PAGE  LIBRARY PAGE  LIBRARY PAGE  LIBRARY PAGE */

.page {
  display: grid;
  grid-row: 2 / 4;
  grid-column: 2 / 4;
  background-color: #CCE6F4;
  grid-auto-flow: column;
  grid-auto-rows: 0.5fr;
  overflow-x: hidden;
  overflow-y: scroll;
}

.book-library {
  display: flex;
  grid-row: 1 / 5;
  grid-column: 1 / 5;
  margin: 20px;
  grid-template: repeat(4, 0.5fr) / repeat(4, 0.5fr);
  overflow-x: hidden;
  overflow-y: scroll;
}

.book-cards {
  display: flex;
  flex-flow: row wrap;
  gap: 15px;
  width: minmax(1fr, 100px);
  height: minmax(1fr, 25px);
  grid-row: 1 / 5;
  grid-column: 1 / 5;
  overflow-x: hidden;
  overflow-y: scroll;
}

.card-info {
  color: #CCE6F4;
  font-weight: bolder;
  font-size: 1.2rem;
  height: 5px;
}

.book {
  width: 30vh;
  height: 35vh;
  background-color: #4BA3C3;
  justify-items: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0.5px 0.5px 0.5px 0.5px #175676;
  display: grid;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
}

.read-it {
  width: 100px;
  height: 35px;
  font-size: 14px;
  background-color: #175676;
  color: #CCE6F4;
  border-radius: 2px;
}

.delete-book-button {
  background-color: #CCE6F4;
  color: #175676;
  border-radius: 50%;
  grid-row: 1;
  justify-self: end;
  align-items: center;
  margin-top: 10px;
  position: relative;
}

/* FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER */

.footer {
  grid-row: 4;
  grid-column: 1 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #175676;
  color: #CCE6F4;
}