@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap');

html {
  font-family: 'Fredoka', sans-serif;
}

body {
  display: grid;
  grid-template: 0.5fr 1fr 2fr 0.2fr / 0.2fr 1fr 0.5fr;
}

/* HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER */

.header {
  display: grid;
  grid-column: 1 / 4;
  grid-row: 1;
  height: minmax(0.5fr, 80px);
  background-color: #175676;
}

#banner-left {
  grid-column: 1;
}

.header-text {
  color: #CCE6F4;
  font-size: 58px;
  margin-left: 40px;
}

#banner-right {
  grid-column: 2;
}

.header-book-icon {
  display: flex;
  width: 100px;
  height: 100px;
  justify-self: center;
  align-self: center;
  filter: invert(95%) sepia(64%) saturate(5579%) hue-rotate(175deg) brightness(106%) contrast(91%);
}

/* SIDEBAR SIDEBAR SIDEBAR SIDEBAR SIDEBAR SIDEBAR SIDEBAR SIDEBAR SIDEBAR SIDEBAR SIDEBAR SIDEBAR */

.sidebar {
  display: grid;
  grid-row: 2 / 4;
  grid-column: 1;
  background-color: #4BA3C3;
  height: 100vh;
  grid-template: 0.10fr 1fr / 0.5fr;
}

.create-new-book {
  grid-column: 1;
  grid-row: 1;
  width: 150px;
  height: 40px;
  margin: 15px;
  background-color: #CCE6F4;
  box-shadow: 1px 1px black;
  font-size: 16px;
}

.form-container {
  margin-top: 10px;
  display: none;
  grid-column: 1;
  grid-row: 2;
  font-size: 20px;
  color: #CCE6F4;
  font-weight: bold;
}

.input {
  background-color: #CCE6F4;
  height: 30px;
  margin: 5px;
}

.legend-text {
  color: #175676;
  font-weight: bold;
}

.label-title {
  color: #CCE6F4;
}

/* LIBRARY PAGE  LIBRARY PAGE  LIBRARY PAGE  LIBRARY PAGE  LIBRARY PAGE  LIBRARY PAGE  LIBRARY PAGE  LIBRARY PAGE */

.page {
  display: grid;
  grid-row: 2 / 4;
  grid-column: 2 / 4;
  background-color: #CCE6F4;
}

.book-library {
  display: grid;
  margin: 20px;
  margin-left: 30px;
  gap: 15px;
}

.book-cards {
  /* background-color: #4BA3C3; */
  width: minmax(1fr, 100px);
  height: minmax(1fr, 25px);
}

.card-info {
  width: 100px;
  height: 25px;
}

/* FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER */

.footer {
  grid-row: 4;
  grid-column: 1 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #175676;
  color: #CCE6F4;
}

/* SLIDER STYLING SLIDER STYLING SLIDER STYLING SLIDER STYLING SLIDER STYLING */

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }