#account-authentication-dashboard {
  display: grid;
  grid-row: 2 / 4;
  grid-column: 1 / 4;
  width: 100vw;
  height: 75vh;
  background-color: #CCE6F4;
  justify-items: center;
  align-items: center;
  justify-content: space-around;
  align-content: space-evenly;
}

/* CREATE ACCOUNT FORM */

#user-creation-form {
  display: grid;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  background-color: #175676;
  color: #CCE6F4;
  width: 25vw;
  height: 40vh;
  font-size: 1.25em;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
}

#create-account-fieldset {
  display: flex;
  flex-flow: column nowrap;
}

#account-submit {
  width: 20vw;
  height: 3vh;
  color: #175676;
  background-color: #CCE6F4;
}

/* SIGN IN FORM */

#sign-in-form {
  display: grid;
  grid-row: 1 / 2;
  grid-column: 3 / 4;
  background-color: #175676;
  color: #CCE6F4;
  width: 25vw;
  height: 40vh;
  font-size: 1.25em;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
}

#sign-in-fieldset {
  display: flex;
  flex-flow: column nowrap;
}

#email-login, #password-login {
  margin-bottom: 30%;
}

#sign-in-button {
  width: 20vw;
  height: 3vh;
  color: #175676;
  background-color: #CCE6F4;
}

/* EXTERNAL LOGIN STYLES */

#external-login {
  display: grid;
  grid-row: 3;
  grid-column: 1 / 4;
  justify-items: center;
  align-items: start;
  align-content: center;
  justify-content: center;
}

#sign-in-with-google-button {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 40vw;
  height: 10vh;
  background-color: #175676;
}

#sign-in-with-google-text {
  margin: 0;
  margin-bottom: 5%;
  font-size: 1.5em;
  color: #CCE6F4;
}